<app-back-button />

<div class="container py-4">
    @if (ownerDetails) {
        <div class="row g-6">
            <div class="col-lg-6 py-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h2>{{ ownerDetails.firstName }} {{ ownerDetails.lastName }}</h2>
                    </div>
                    <div class="card-body">
                        <b>Phone:</b>
                        <p>{{ ownerDetails.phoneNumber }}</p>
                        
                        <b>E-mail:</b>
                        <p>{{ ownerDetails.email }}</p>
                        
                        <b>Location:</b>
                        <p>{{ ownerDetails.address }}</p>
                    </div>
                </div>
            </div>
                
            <div class="col-lg-6 py-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h2>Pets:</h2>
                    </div>
                    <div class="card-body d-grid gap-3">

                        <div class="d-flex gap-2">
                            @if (!showAddPetToOwnerSelector) {
                                <button class="btn btn-sm btn-outline-secondary" (click)="addNewPetFromOwner(ownerDetails.ownerId)">
                                    + Add New Pet
                                </button>
                            }
                            <div class="d-flex flex-grow-1">
                                <button class="btn btn-sm btn-outline-secondary" [class.rounded-end-0]="showAddPetToOwnerSelector" (click)="togglePetSelector()">
                                    {{ showAddPetToOwnerSelector ? 'Cancel' : '+ Add Existing Pet(s)' }}
                                </button>
                                @if (showAddPetToOwnerSelector) {
                                    <div class="position-relative flex-grow-1">
                                        <div 
                                            class="form-control rounded-0 d-flex flex-wrap gap-2 align-items-center"
                                            (click)="toggleDropdown()">
            
                                            @if (selectedPets.length === 0) {
                                                <span class="text-muted">
                                                    Select pets...
                                                </span>
                                            }
            
                                            @for (pet of selectedPets; track pet.petId) {
                                                <span class="badge text-bg-primary" (click)="removePet($event, pet.petId)">
                                                    {{ pet.name }}
                                                    ✕
                                                </span>
                                            }
            
                                            <span class="ms-auto">
                                                <i
                                                    class="bi"
                                                    [class.bi-chevron-down]="!showAddPetDropdown"
                                                    [class.bi-chevron-up]="showAddPetDropdown"></i>
                                            </span>
                                        </div>
                                        @if (showAddPetDropdown) {
                                            <div class="list-group position-absolute w-100 shadow mt-1 add-pet-dropdown">
                                                
                                                @if (availablePets.length === 0) {
                                                    <div class="list-group-item text-muted">
                                                        @if (loadingState !== 'loaded') {
                                                            Loading pets...
                                                        }
                                                        @else {
                                                            No more pets available.
                                                        }
                                                    </div>
                                                }
                                                @else {
                                                    @for (pet of availablePets; track pet.petId) {
                                                        <button
                                                            type="button"
                                                            class="list-group-item list-group-item-action"
                                                            (click)="selectPet(pet)">
                                                            {{ pet.name }} - {{ pet.species }}, {{ pet.breed }}
                                                        </button>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                    <button class="btn btn-secondary rounded-start-0" (click)="addPetsToOwner()" [disabled]="!canAssignPets">
                                        Assign Pet(s)
                                    </button>
                                }
                            </div>
                        </div>

                        @if (ownerDetails.pets.length > 0) {
                            <div class="table-responsive card-table">
                                <table class="table table-hover table-striped rounded-3">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Species</th>
                                            <th>Breed</th>
                                            <th>Weight</th>
                                            <th>Birth</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (pet of ownerDetails.pets; track pet.petId) {
                                            <tr (click)="viewPetDetails(pet.petId)">
                                                <td>{{ pet.name }}</td>
                                                <td>{{ pet.species }}</td>
                                                <td>{{ pet.breed }}</td>
                                                <td>{{ pet.weight }}</td>
                                                <td>{{ pet.birthDate | date:'MMMM d, y' }}</td>
                                                <td><i class="bi bi-x-circle-fill text-danger" (click)="openRemovePetModal($event, pet.petId, pet.name)"></i></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        } 
                        @else {
                            <div class="card text-white bg-secondary text-center p-2">
                                <span>This person has no pets.</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<app-confirm-modal
    [open]="showRemovePetModal"
    [title]="'Remove Pet: ' + petNameToRemove"
    message="This pet will be unassigned from this owner. Continue?"
    confirmText="Remove"
    confirmButtonClass="btn-danger"
    cancelText="Go Back"
    [isLoading]="isRemovingPet"
    (confirmed)="removePetFromOwner()"
    (cancelled)="cancelRemovePet()" />