/* You can add global styles to this file, and also import other style files */
.clickable-card {
    cursor: pointer;
    transition: background-color 0.1s ease, box-shadow 0.2s ease;
}

.clickable-card:hover {
    background-color: var(--bs-gray-100);
    box-shadow: var(--bs-box-shadow);
}

.clickable {
    cursor: pointer;
}

.card-body form {
    display: grid;
    gap: .75rem;
}

.card-body form .row {
    align-items: center;
}

.card-body form .col-2 {
    text-align: end;
    padding: 0;
}

.card-table {
    max-height: 300px;
}