<app-page-layout title="Medical Records" [backButton]="true" [isSubPage]="true">
    @if (medicalRecordDetails) {
        <div class="d-grid gap-4">
            <div class="row">
                <div class="col">
                    @if (medicalRecordDetails.appointment) {
                        <div class="card clickable-card shadow-sm" (click)="viewAppointmentDetails(medicalRecordDetails.appointment.appointmentId)">
                            <div class="card-header">
                                <b>Appointment</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <b>Appointment Date:</b>
                                        <p>{{ medicalRecordDetails.appointment.appointmentDate | date:'fullDate' }}</p>
                                    </div>
                                    <div class="col">
                                        <b>Type:</b>
                                        <p>{{ medicalRecordDetails.appointment.type | appointmentType }}</p>
                                    </div>
                                    <div class="col">
                                        <b>Reason:</b>
                                        <p>{{ medicalRecordDetails.appointment.reason }}</p>
                                    </div>
                                    <div class="col">
                                        <b>Status:</b>
                                        <p>
                                            <app-appointment-status-badge [status]="medicalRecordDetails.appointment.status" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @else {
                        <div class="card shadow-sm bg-secondary position-relative py-3">
                            <span class="position-absolute top-50 start-50 translate-middle text-white fs-6">No appointment</span>
                        </div>
                    }
                </div>            
            </div>
            <div class="row gy-4">

                <div class="col-lg-6">
                    <div class="card shadow-sm">
                        <div class="card-header d-flex align-items-center">
                            <b>Medical Record</b>
                            <button
                                type="button"
                                class="btn btn-sm btn-primary ms-auto"
                                [disabled]="!medicalRecordForm.dirty || isLoadingMedicalRecord || isSavingMedicalRecord"
                                (click)="saveEditChanges()">
                                    @if (isLoadingMedicalRecord || isSavingMedicalRecord) {
                                        <span class="spinner-border spinner-border-sm me-2"></span>
                                    } 
                                    Save
                            </button>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="medicalRecordForm">
                                <div class="row">
                                    <div class="col-2">
                                        <b>Visit Date:</b>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="date" formControlName="visitDate">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-2">
                                        <b>Complaint:</b>
                                    </div>
                                    <div class="col">
                                        <textarea class="form-control" formControlName="complaint"></textarea>
                                    </div>
                                </div>
                                    
                                <div class="row">
                                    <div class="col-2">
                                        <b>Diagnosis:</b>
                                    </div>
                                    <div class="col">
                                        <textarea class="form-control" formControlName="diagnosis"></textarea>
                                    </div>
                                </div>
                                    
                                <hr>

                                <div class="gap-1">
                                    <h5>Notes</h5>
                                    <p class="text-muted small mt-0 mb-2 ms-1">Additional notes.</p>
                                </div>
                                <textarea class="form-control mb-0" formControlName="notes"></textarea>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card clickable-card shadow-sm" (click)="viewPetDetails(medicalRecordDetails.pet.petId)">
                        <div class="card-header">
                            <b>Pet</b>
                        </div>
                        <div class="card-body">
                            <b>Name:</b>
                            <p>{{ medicalRecordDetails.pet.name}}</p>
                        
                            <b>Species:</b>
                            <p>{{ medicalRecordDetails.pet.species }}</p>
                            
                            <b>Breed:</b>
                            <p>{{ medicalRecordDetails.pet.breed }}</p>
                            
                            <b>Weight:</b>
                            <p>{{ medicalRecordDetails.pet.weight }}</p>
                                    
                            <b>Date of Birth:</b>
                            <p>{{ medicalRecordDetails.pet.birthDate | date:'MMMM d, y' }}</p>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-3">
                    <div class="card clickable-card shadow-sm" (click)="viewOwnerDetails(medicalRecordDetails.owner!.ownerId)">
                        <div class="card-header">
                            <b>Owner</b>
                        </div>
                        <div class="card-body">
                            @if (medicalRecordDetails.owner) {
                                <b>Name:</b>
                                <p>{{ medicalRecordDetails.owner.firstName }} {{ medicalRecordDetails.owner.lastName }}</p>
                                
                                <b>Phone:</b>
                                <p>{{ medicalRecordDetails.owner.phoneNumber }}</p>
                                
                                <b>Email:</b>
                                <p>{{ medicalRecordDetails.owner.email }}</p>
                                
                                <b>Address:</b>
                                <p>{{ medicalRecordDetails.owner.address }}</p>
                            }
                            @else {
                                <span>This pet has no owner.</span>
                            }
                        </div>
                    </div>
                </div>        
            </div>
            <div class="row gy-4">
                <div class="col-lg">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <b>Clinical Examination</b>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="medicalRecordForm">
                                <textarea class="form-control" formControlName="clinicalExam"></textarea>
                            </form>
                        </div>
                    </div>
                </div>   
                <div class="col-lg">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <b>Client Communication</b>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="medicalRecordForm">
                                <textarea class="form-control" formControlName="clientCommunication"></textarea>
                            </form>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="row gy-4">
                <div class="col-lg">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <b>Lab Examination</b>
                        </div>
                        <div class="card-body">
                            @if (isLabExamInputVisible || medicalRecordDetails.labExam) {
                                @if (!isFindingInputVisible) {
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-primary"
                                        [disabled]="isLoadingLabExam || isSavingLabExam"
                                        (click)="showLabExamFindingInput()">
                                            @if (isLoadingLabExam || isSavingLabExam) {
                                                <span class="spinner-border spinner-border-sm me-2"></span>
                                            } 
                                            + Add Finding
                                    </button>
                                }
                                <div class="d-grid gap-2">
                                    @if (isFindingInputVisible) {
                                        <div class="card shadow-sm bg-light">
                                            <div class="card-body">
                                                <app-lab-exam-finding 
                                                    (saveClicked)="createLabExamFinding($event)"
                                                    [isLoading]="isLoadingLabExamFinding"
                                                    [isSaving]="isSavingLabExamFinding" />
                                            </div>
                                        </div>
                                    }
                                    @if (medicalRecordDetails.labExam?.labExamFindings!.length > 0) {
                                        @for (finding of medicalRecordDetails.labExam!.labExamFindings; track finding.labExamFindingId) {
                                            <div class="card shadow-sm bg-light">
                                                <div class="card-body">
                                                    <app-lab-exam-finding 
                                                        mode="edit"
                                                        [finding]="finding"
                                                        (saveClicked)="updateLabExamFinding($event, finding.labExamFindingId)"
                                                        [isLoading]="isLoadingLabExamFinding"
                                                        [isSaving]="isSavingLabExamFinding"
                                                        (deleteFinding)="deleteLabExamFinding(finding.labExamFindingId)" />
                                                </div>
                                            </div>
                                        }
                                    }
                                    <hr>
                                    <h6>Interpretation:</h6>
                                    <form [formGroup]="labExamForm">
                                        <textarea class="form-control" formControlName="interpretation"></textarea>
                                    </form>
                                </div>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-primary mt-2"
                                    [disabled]="!labExamForm.dirty || isLoadingLabExam || isSavingLabExam"
                                    (click)="saveLabExamChanges()">
                                        @if (isLoadingLabExam || isSavingLabExam) {
                                            <span class="spinner-border spinner-border-sm me-2"></span>
                                        } 
                                        Save
                                </button>
                            }
                            @else {
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-primary"
                                    (click)="showLabExamInput()">
                                        @if (isLoadingLabExam || isSavingLabExam) {
                                            <span class="spinner-border spinner-border-sm me-2"></span>
                                        } 
                                        + Enter Lab Examination
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-lg">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <b>Treatment</b>
                        </div>
                        <div class="card-body">
                        @if (isTreatmentInputVisible || medicalRecordDetails.treatment) {
                                <div class="d-grid gap-2">
                                    <div class="d-flex gap-2">
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-primary"
                                            (click)="showSelectTreatmentItemModal('medication')">
                                                @if (isLoadingTreatmentItem || isSavingTreatmentItem) {
                                                    <span class="spinner-border spinner-border-sm me-2"></span>
                                                } 
                                                + Add Medication
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-primary"
                                            (click)="showSelectTreatmentItemModal('service')">
                                                @if (isLoadingTreatmentItem || isSavingTreatmentItem) {
                                                    <span class="spinner-border spinner-border-sm me-2"></span>
                                                } 
                                                + Add Service
                                        </button>
                                    </div>
                                    <hr>
                                    <div class="d-grid gap-2">
                                        @if (pendingTreatmentItems.length > 0) {
                                            <h6>To Add</h6>
                                            <form [formGroup]="treatmentItemsForm" class="mb-3">
                                                <div class="d-grid gap-2" formArrayName="pendingItems">
                                                    @for (group of pendingTreatmentItems.controls; track group) {
                                                        <div class="card shadow-sm border-warning">
                                                            <div class="card-body" [formGroupName]="$index">
                                                                <div class="row">
                                                                    <div class="col-2">
                                                                        <span>{{ group.value.nameAtTreatment }}</span>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <span>₱{{ group.value.unitPrice }}</span>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <input 
                                                                            class="form-control" 
                                                                            [class.d-none]="group.value.serviceId"
                                                                            formControlName="quantity" 
                                                                            type="number">
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <textarea class="form-control" formControlName="reason"></textarea>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <button
                                                                            type="button"
                                                                            class="btn btn-sm btn-secondary"
                                                                            [disabled]="isLoadingTreatmentItem || isSavingTreatmentItem"
                                                                            (click)="removeSelectedTreatmentItem($index)">
                                                                                <i class="bi bi-dash"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div>
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-primary"
                                                        [disabled]="!treatmentItemsForm.dirty || isLoadingTreatmentItem || isSavingTreatmentItem"
                                                        (click)="saveTreatmentItems()">
                                                            @if (isLoadingTreatmentItem || isSavingTreatmentItem) {
                                                                <span class="spinner-border spinner-border-sm me-2"></span>
                                                            } 
                                                            Add ({{ pendingTreatmentItems.length }}) Item(s)
                                                    </button>
                                                </div>
                                            </form>
                                        }
                                        @if (existingTreatmentItems.length > 0) {
                                            <h6>Current</h6>
                                            <form [formGroup]="treatmentItemsForm">
                                                <div class="d-grid gap-2" formArrayName="existingItems">
                                                    @for (group of existingTreatmentItems.controls; track group) {
                                                    <div class="card shadow-sm border-primary">
                                                        <div class="card-body" [formGroupName]="$index">
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <span>{{ group.value.nameAtTreatment }}</span>
                                                                </div>
                                                                <div class="col-2">
                                                                    <span>₱{{ group.value.unitPrice }}</span>
                                                                </div>
                                                                <div class="col-1">
                                                                    <input 
                                                                    class="form-control" 
                                                                    [class.d-none]="group.value.serviceId"
                                                                    formControlName="quantity" 
                                                                    type="number">
                                                                </div>
                                                                <div class="col-6">
                                                                    <textarea class="form-control" formControlName="reason"></textarea>
                                                                </div>
                                                                <div class="col-1">
                                                                    <button
                                                                        type="button"
                                                                        class="btn btn-sm btn-danger"
                                                                        [disabled]="isLoadingTreatmentItem || isSavingTreatmentItem"
                                                                        (click)="deleteTreatmentItem(group.value.treatmentItemId)">
                                                                            <i class="bi bi-x"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }
                                                </div>
                                            </form>
                                            <div>
                                                <button
                                                    type="button"
                                                    class="btn btn-sm btn-primary"
                                                    [disabled]="!treatmentItemsForm.dirty || isLoadingTreatmentItem || isSavingTreatmentItem"
                                                    (click)="updateTreatmentItems()">
                                                        Save Changes
                                                </button>
                                            </div>
                                            <hr>
                                        }
                                        <h6>Others:</h6>
                                        <form [formGroup]="treatmentForm">
                                            <textarea class="form-control" formControlName="others"></textarea>
                                        </form>
                                    </div>
                                </div>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-primary mt-2"
                                            [disabled]="!treatmentForm.dirty || isLoadingTreatment || isSavingTreatment"
                                            (click)="saveTreatmentChanges()">
                                                @if (isLoadingTreatment || isSavingTreatment) {
                                                    <span class="spinner-border spinner-border-sm me-2"></span>
                                                } 
                                                Save
                                        </button>
                            }
                            @else {
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-primary"
                                    (click)="showTreatmentInput()">
                                        @if (isLoadingTreatment || isSavingTreatment) {
                                            <span class="spinner-border spinner-border-sm me-2"></span>
                                        } 
                                        + Enter Treatment Plan
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</app-page-layout>
<app-modal
    [open]="isSelectTreatmentItemModalVisible"
    [large]="true"
    title="Add Treatment Item"
    cancelText="Go Back"
    affirmText="Add"
    (affirmed)="addTreatmentItemsToTreatmentList()"
    (cancelled)="hideSelectTreatmentItemModal()">

    @if (isLoadingTreatmentItem) {
        <app-loading-spinner />
    }

    @if (!isLoadingTreatmentItem) {
        <table class="table table-hover table-bordered table-dark table-striped mb-0">
            @if (this.selectedTreatmentItemType === 'medication') {
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Mfg.</th>
                        <th>Expiration Date From Now</th>
                    </tr>
                </thead>
                <tbody>
                    @for (medication of medications; track medication.medicationId) {
                        <tr>
                            <td class="text-center">
                                <input 
                                    #checkbox type="checkbox" 
                                    class="form-check-input" 
                                    (change)="onMedicationChecked(medication, checkbox.checked)"
                                    [disabled]="isMedicationSelected(medication.medicationId) || medication.availableCount <= 0">
                            </td>
                            <td>{{ medication.name }}</td>
                            <td>{{ medication.price }}</td>
                            <td>{{ medication.availableCount }}</td>
                            <td>{{ medication.manufacturer }}</td>
                            <td>{{ medication.expirationDate }}</td>
                        </tr>
                    }
                </tbody>
            }
    
            @if (this.selectedTreatmentItemType === 'service') {
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @for (service of services; track service.serviceId) {
                        <tr>
                            <td class="text-center">
                                <input 
                                    #checkbox type="checkbox" 
                                    class="form-check-input" 
                                    (change)="onServiceChecked(service, checkbox.checked)"
                                    [disabled]="isServiceSelected(service.serviceId)">
                            </td>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    }
</app-modal>