.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast-content {
    color: white;
    padding: 10px;
    border-radius: 5px;

    animation: toastPop 0.25s ease-out
}

.closing {
    animation: toastFadeOut 0.3s ease forwards;
}

.success {
    background: #4caf50;
}

.error {
    background: #f44336;
}

.info {
    background: #2196f3;
}

@keyframes toastPop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    70% {
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes toastFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}