.sidebar {
    width: 200px;
    transition: width .25s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed .label {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}