<app-toast></app-toast>

<div class="d-flex vh-100">
    <nav class="sidebar shadow-sm border-end bg-light" [class.collapsed]="collapsed">
        <h6 class="sidebar-header text-center p-3" (click)="toggleSidebar()">VIMS</h6>
        <ul class="nav flex-column gap-1">
            <li class="nav-item">
                <a
                class="nav-link"
                routerLink="/login"><i class="bi bi-person"></i><span class="label">Login</span></a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/pets"
                    routerLinkActive="active"><i class="bi bi-heart"></i><span class="label">Pets</span></a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/owners"
                    routerLinkActive="active"><i class="bi bi-person-rolodex"></i><span class="label">Owners</span></a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/appointments"
                    routerLinkActive="active"><i class="bi bi-calendar-check"></i><span class="label">Appointments</span></a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/medical-records"
                    routerLinkActive="active"><i class="bi bi-clipboard2-pulse"></i><span class="label">Medical Records</span></a>
            </li>
        </ul>
    </nav>
    <main class="flex-grow-1 p-4 overflow-auto">
        <router-outlet />
    </main>
</div>